<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Portail administration</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <a href="{{ url_for('logout') }}" class="btn btn-danger btn-lg-custom ms-3">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="mb-4">Gestion des Professeurs et Élèves</h2>
        <div class="row mb-4">
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Élèves</h5>
                        <div class="accordion mt-2" id="accordionEleves">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEleves">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleves" aria-expanded="false" aria-controls="collapseEleves">
                                        Liste des Élèves
                                    </button>
                                </h2>
                                <div id="collapseEleves" class="accordion-collapse collapse" aria-labelledby="headingEleves" data-bs-parent="#accordionEleves">
                                    <div class="accordion-body">
                                        <ul class="list-group mb-2" style="max-height: 200px; overflow-y: auto;">
                                            {% for eleve in eleves_base %}
                                            <li class="list-group-item">
                                                {{ eleve.nom_eleve }}
                                                {% if not eleve.id_classe%}
                                                <span class="text-danger ms-2" title="La classe de l'élève n'est pas sélectionnée" onclick="openEditEleveModal('{{ eleve.id_eleve }}')" style="cursor: pointer;">&#9888;</span>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap align-items-center mt-4">
                            <button type="button" class="btn btn-primary me-2 mb-2" data-bs-toggle="modal" data-bs-target="#addEleveModal">
                                Ajouter
                            </button>
                            <button type="button" class="btn btn-success me-2 mb-2 mt-md-0" onclick="openEditEleveModal(1)" data-bs-toggle="modal" data-bs-target="#editEleveModal">
                                Éditer
                            </button>
                            <button type="button" class="btn btn-danger mb-2 mt-md-0" data-bs-toggle="modal" data-bs-target="#deleteEleveModal">
                                Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Matières</h5>
                        <div class="accordion mt-2" id="accordionMatieres">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingMatieres">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMatieres" aria-expanded="false" aria-controls="collapseMatieres">
                                        Liste des Matières
                                    </button>
                                </h2>
                                <div id="collapseMatieres" class="accordion-collapse collapse" aria-labelledby="headingMatieres" data-bs-parent="#accordionMatieres">
                                    <div class="accordion-body">
                                        <ul class="list-group mb-2" style="max-height: 200px; overflow-y: auto;">
                                            {% for matiere in matieres %}
                                            <li class="list-group-item">{{ matiere.nom_matiere }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap align-items-center mt-4">
                            <button type="button" class="btn btn-primary me-2 mb-2" data-bs-toggle="modal" data-bs-target="#addMatiereModal">
                                Ajouter
                            </button>
                            <button type="button" class="btn btn-danger mb-2 mt-md-0" data-bs-toggle="modal" data-bs-target="#deleteMatiereModal">
                                Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Classes</h5>
                        <div class="accordion mt-2" id="accordionClasses">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingClasses">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClasses" aria-expanded="false" aria-controls="collapseClasses">
                                        Liste des Classes
                                    </button>
                                </h2>
                                <div id="collapseClasses" class="accordion-collapse collapse" aria-labelledby="headingClasses" data-bs-parent="#accordionClasses">
                                    <div class="accordion-body">
                                        <ul class="list-group mb-2" style="max-height: 200px; overflow-y: auto;">
                                            {% for classe in classes %}
                                            <li class="list-group-item">{{ classe.nom_classe }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap align-items-center mt-4">
                            <button type="button" class="btn btn-primary me-2 mb-2" data-bs-toggle="modal" data-bs-target="#addClasseModal">
                                Ajouter
                            </button>
                            <button type="button" class="btn btn-danger mb-2 mt-md-0" data-bs-toggle="modal" data-bs-target="#deleteClasseModal">
                                Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Professeurs</h5>
                        <div class="accordion mt-2" id="accordionProfs">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingProfs">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfs" aria-expanded="false" aria-controls="collapseProfs">
                                        Liste des Professeurs
                                    </button>
                                </h2>
                                <div id="collapseProfs" class="accordion-collapse collapse" aria-labelledby="headingProfs" data-bs-parent="#accordionProfs">
                                    <div class="accordion-body">
                                        <ul class="list-group mb-2" style="max-height: 200px; overflow-y: auto;">
                                            {% for prof in profs %}
                                            <li class="list-group-item">
                                                {{ prof.nom_prof }}
                                                {% if not prof.id_matiere or not prof.classes %}
                                                <span class="text-danger ms-2" title="Le professeur n'a pas de matière assignée ou n'est pas assigné à une classe" onclick="openEditProfModal('{{ prof.id_prof }}')" style="cursor: pointer;">&#9888;</span>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap align-items-center mt-4">
                            <button type="button" class="btn btn-primary me-2 mb-2" data-bs-toggle="modal" data-bs-target="#addProfModal">
                                Ajouter
                            </button>
                            <button type="button" class="btn btn-success me-2 mb-2 mt-md-0" data-bs-toggle="modal" data-bs-target="#editProfModal">
                                Éditer
                            </button>
                            <button type="button" class="btn btn-danger mb-2 mt-md-0" data-bs-toggle="modal" data-bs-target="#deleteProfModal">
                                Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informations sur un professeur</h5>
                        <div class="mb-3">
                            <select id="prof" class="form-select" onchange="updateProfInfo()">
                                <option value="" disabled selected>Sélectionner un professeur</option>
                                {% for prof in profs %}
                                <option value="{{ prof.id_prof }}" data-matiere="{{ prof.nom_matiere }}" data-classes="{{ prof.classes }}">{{ prof.nom_prof }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="prof-info" class="mt-3">
                            <!-- Les informations sur le professeur seront affichées ici -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informations sur un élève</h5>
                        <div class="mb-3">
                            <select id="eleve" class="form-select" onchange="updateEleveInfo()">
                                <option value="" disabled selected>Sélectionner un élève</option>
                                {% for eleve in eleves %}
                                <option value="{{ eleve.id_eleve }}" data-classe="{{ eleve.nom_classe }}" data-professeurs="{{ eleve.professeurs }}" data-moyenne="{{ eleve.moyenne }}">{{ eleve.nom_eleve }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="eleve-info" class="mt-3">
                            <!-- Les informations sur l'élève seront affichées ici -->
                        </div>
                        <button id="show-notes-btn" type="button" class="btn btn-info mt-3" style="display: none;" onclick="showNotes()">Afficher les notes par matière</button>
                        <div id="notes-table" class="mt-3" style="display: none;">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Matière</th>
                                            <th>Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody id="notes-table-body">
                                        <!-- Rows will be populated by JavaScript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row mb-2">
                <div class="col-md-6 mb-2">
                    <!-- Div vide pour équilibrer les colonnes -->
                </div>
                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Informations sur une classe</h5>
                            <div class="mb-3">
                                <select id="classe" class="form-select" onchange="updateClasseInfo()">
                                    <option value="" disabled selected>Sélectionner une classe</option>
                                    {% for classe in classes %}
                                    <option value="{{ classe.id_classe }}">{{ classe.nom_classe }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="classe-info" class="mt-3">
                                <!-- Les informations sur la classe seront affichées ici -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="addEleveModal" tabindex="-1" aria-labelledby="addEleveModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEleveModalLabel">Ajouter un Élève</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('add_eleve') }}" method="post">
                        <div class="mb-3">
                            <label for="nom_eleve" class="form-label">Nom de l'Élève</label>
                            <input type="text" id="nom_eleve" name="nom_eleve" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_classe" class="form-label">Classe</label>
                            <select id="id_classe" name="id_classe" class="form-select">
                                <option value="" disabled selected>Sélectionner une classe</option>
                                {% for classe in classes %}
                                <option value="{{ classe.id_classe }}">{{ classe.nom_classe }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addMatiereModal" tabindex="-1" aria-labelledby="addMatiereModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMatiereModalLabel">Ajouter une Matière</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('add_matiere') }}" method="post">
                        <div class="mb-3">
                            <label for="nom_matiere" class="form-label">Nom de la Matière</label>
                            <input type="text" id="nom_matiere" name="nom_matiere" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addClasseModal" tabindex="-1" aria-labelledby="addClasseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClasseModalLabel">Ajouter une Classe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('add_classe') }}" method="post">
                        <div class="mb-3">
                            <label for="nom_classe" class="form-label">Nom de la Classe</label>
                            <input type="text" id="nom_classe" name="nom_classe" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addProfModal" tabindex="-1" aria-labelledby="addProfModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProfModalLabel">Ajouter un Professeur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('add_prof') }}" method="post">
                        <div class="mb-3">
                            <label for="nom_prof" class="form-label">Nom du Professeur</label>
                            <input type="text" id="nom_prof" name="nom_prof" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_matiere" class="form-label">Matière</label>
                            <select id="id_matiere" name="id_matiere" class="form-select">
                                <option value="" disabled selected>Sélectionner une matière</option>
                                {% for matiere in matieres %}
                                <option value="{{ matiere.id_matiere }}">{{ matiere.nom_matiere }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="id_classe" class="form-label">Classe</label>
                            <select id="id_classe" name="id_classe" class="form-select">
                                <option value="" disabled selected>Sélectionner une classe</option>
                                {% for classe in classes %}
                                <option value="{{ classe.id_classe }}">{{ classe.nom_classe }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for editing an élève -->
    <div class="modal fade" id="editEleveModal" tabindex="-1" aria-labelledby="editEleveModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEleveModalLabel">Modifier un Élève</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('edit_eleve') }}" method="post">
                        <div class="mb-3">
                            <label for="edit_nom_eleve" class="form-label">Nom de l'Élève</label>
                            <select id="edit_nom_eleve" name="id_eleve" class="form-select" required onchange="updateClasseSelection()">
                                <option value="" selected disabled>Sélectionner un élève</option>
                                {% for eleve in eleves_base %}
                                <option value="{{ eleve.id_eleve }}" data-classe="{{ eleve.id_classe }}">{{ eleve.nom_eleve }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="edit_id_classe" class="form-label">Classe</label>
                            <select id="edit_id_classe" name="id_classe" class="form-select">
                                <option value="">Sélectionner une classe</option>
                                {% for classe in classes %}
                                <option value="{{ classe.id_classe }}">{{ classe.nom_classe }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Modifier</button>
                            <form action="{{ url_for('delete_eleve') }}" method="post" class="ms-2">
                                <input type="hidden" id="delete_id_eleve" name="id_eleve">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for deleting an élève -->
    <div class="modal fade" id="deleteEleveModal" tabindex="-1" aria-labelledby="deleteEleveModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteEleveModalLabel">Supprimer un Élève</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('delete_eleve') }}" method="post">
                        <div class="mb-3">
                            <label for="delete_nom_eleve" class="form-label">Nom de l'Élève</label>
                            <select id="delete_nom_eleve" name="id_eleve" class="form-select" required>
                                <option value="" disabled selected>Sélectionner un élève</option>
                                {% for eleve in eleves %}
                                <option value="{{ eleve.id_eleve }}">{{ eleve.nom_eleve }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for editing a professeur -->
    <div class="modal fade" id="editProfModal" tabindex="-1" aria-labelledby="editProfModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfModalLabel">Modifier un Professeur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('edit_prof') }}" method="post">
                        <div class="mb-3">
                            <label for="edit_nom_prof" class="form-label">Nom du Professeur</label>
                            <select id="edit_nom_prof" name="id_prof" class="form-select" required onchange="updateProfSelection()">
                                <option value="" selected disabled>Sélectionner un professeur</option>
                                {% for prof in profs %}
                                <option value="{{ prof.id_prof }}" data-matiere="{{ prof.id_matiere }}" data-classes="{{ prof.classes }}">{{ prof.nom_prof }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="edit_id_matiere" class="form-label">Matière</label>
                            <select id="edit_id_matiere" name="id_matiere" class="form-select">
                                <option value="">Sélectionner une matière</option>
                                {% for matiere in matieres %}
                                <option value="{{ matiere.id_matiere }}">{{ matiere.nom_matiere }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="current_classes" class="form-label">Classes actuelles</label>
                            <ul id="current_classes" class="list-group mb-3">
                                <!-- Classes actuelles seront ajoutées ici par JavaScript -->
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label for="add_class" class="form-label">Ajouter une classe</label>
                            <select id="add_class" name="add_class" class="form-select">
                                <option value="">Sélectionner une classe</option>
                                {% for classe in classes %}
                                <option value="{{ classe.id_classe }}">{{ classe.nom_classe }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for deleting a matière -->
    <div class="modal fade" id="deleteMatiereModal" tabindex="-1" aria-labelledby="deleteMatiereModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteMatiereModalLabel">Supprimer une Matière</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('delete_matiere') }}" method="post">
                        <div class="mb-3">
                            <label for="delete_nom_matiere" class="form-label">Nom de la Matière</label>
                            <select id="delete_nom_matiere" name="id_matiere" class="form-select" required>
                                <option value="" disabled selected>Sélectionner une matière</option>
                                {% for matiere in matieres %}
                                <option value="{{ matiere.id_matiere }}">{{ matiere.nom_matiere }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for deleting a classe -->
    <div class="modal fade" id="deleteClasseModal" tabindex="-1" aria-labelledby="deleteClasseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteClasseModalLabel">Supprimer une Classe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('delete_classe') }}" method="post">
                        <div class="mb-3">
                            <label for="delete_nom_classe" class="form-label">Nom de la Classe</label>
                            <select id="delete_nom_classe" name="id_classe" class="form-select" required>
                                <option value="" disabled selected>Sélectionner une classe</option>
                                {% for classe in classes %}
                                <option value="{{ classe.id_classe }}">{{ classe.nom_classe }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for deleting a professeur -->
    <div class="modal fade" id="deleteProfModal" tabindex="-1" aria-labelledby="deleteProfModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProfModalLabel">Supprimer un Professeur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('delete_prof') }}" method="post">
                        <div class="mb-3">
                            <label for="delete_nom_prof" class="form-label">Nom du Professeur</label>
                            <select id="delete_nom_prof" name="id_prof" class="form-select" required>
                                <option value="" disabled selected>Sélectionner un professeur</option>
                                {% for prof in profs %}
                                <option value="{{ prof.id_prof }}">{{ prof.nom_prof }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

        function updateClasseInfo() {
            const classeSelect = document.getElementById('classe');
            const selectedClasse = classeSelect.options[classeSelect.selectedIndex];
            const classeId = selectedClasse.value;

            fetch(`/get_classe_info/${classeId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Data received:', data); // Log pour vérifier les données reçues
                    const classeInfoDiv = document.getElementById('classe-info');
                    let infoHtml = `<p><strong>Élèves :</strong> ${data.eleves.split(',').join(', ')}</p>`;
                    infoHtml += `<p><strong>Professeurs :</strong> ${data.professeurs.split(',').join(', ')}</p>`;
                    infoHtml += `<p><strong>Moyenne générale :</strong> ${data.moyenne}</p>`;
                    classeInfoDiv.innerHTML = infoHtml;
                })
                .catch(error => console.error('Erreur:', error));
        }
        
        function updateEleveInfo() {
            const eleveSelect = document.getElementById('eleve');
            const selectedEleve = eleveSelect.options[eleveSelect.selectedIndex];
            const eleveInfoDiv = document.getElementById('eleve-info');
            const showNotesBtn = document.getElementById('show-notes-btn');
            const classe = selectedEleve.getAttribute('data-classe');
            const professeurs = selectedEleve.getAttribute('data-professeurs').split(',');
            const moyenne = selectedEleve.getAttribute('data-moyenne');

            let infoHtml = `<p><strong>Classe :</strong> ${classe}</p>`;
            infoHtml += '<p><strong>Professeurs :</strong> ' + professeurs.filter(Boolean).join(', ') + '</p>';
            infoHtml += `<p><strong>Moyenne générale :</strong> ${moyenne}</p>`;

            eleveInfoDiv.innerHTML = infoHtml;

            // Afficher le bouton "Afficher les notes par matière" si un élève est sélectionné
            showNotesBtn.style.display = 'block';
        }

        function showNotes() {
            const eleveSelect = document.getElementById('eleve');
            const selectedEleve = eleveSelect.options[eleveSelect.selectedIndex];
            const eleveId = selectedEleve.value;

            fetch(`/get_notes/${eleveId}`)
                .then(response => response.json())
                .then(data => {
                    const notesTableBody = document.getElementById('notes-table-body');
                    notesTableBody.innerHTML = '';
                    for (const [matiere, notes] of Object.entries(data.notes)) {
                        const row = document.createElement('tr');
                        const matiereCell = document.createElement('td');
                        matiereCell.textContent = matiere;
                        const notesCell = document.createElement('td');
                        notesCell.textContent = notes.join(', ');
                        row.appendChild(matiereCell);
                        row.appendChild(notesCell);
                        notesTableBody.appendChild(row);
                    }
                    document.getElementById('notes-table').style.display = 'block';
                })
                .catch(error => console.error('Erreur:', error));
        }

        function updateProfInfo() {
            const profSelect = document.getElementById('prof');
            const selectedProf = profSelect.options[profSelect.selectedIndex];
            const profInfoDiv = document.getElementById('prof-info');
            const matiere = selectedProf.getAttribute('data-matiere');
            const classes = selectedProf.getAttribute('data-classes').split(',');

            let infoHtml = `<p><strong>Matière enseignée :</strong> ${matiere}</p>`;
            infoHtml += '<p><strong>Classes :</strong> ' + classes.filter(Boolean).join(', ') + '</p>';

            profInfoDiv.innerHTML = infoHtml;
        }

        function updateClasseSelection() {
            const eleveSelect = document.getElementById('edit_nom_eleve');
            const classeSelect = document.getElementById('edit_id_classe');
            const selectedEleve = eleveSelect.options[eleveSelect.selectedIndex];
            const classeId = selectedEleve.getAttribute('data-classe');

            // Mettre à jour la classe sélectionnée
            for (let i = 0; i < classeSelect.options.length; i++) {
                if (classeSelect.options[i].value === classeId) {
                    classeSelect.selectedIndex = i;
                    break;
                }
            }
        }

        function updateProfSelection() {
            const profSelect = document.getElementById('edit_nom_prof');
            const matiereSelect = document.getElementById('edit_id_matiere');
            const currentClassesList = document.getElementById('current_classes');
            const addClassSelect = document.getElementById('add_class');
            const selectedProf = profSelect.options[profSelect.selectedIndex];
            const matiereId = selectedProf.getAttribute('data-matiere');
            const classes = selectedProf.getAttribute('data-classes').split(',');

            // Mettre à jour la matière sélectionnée
            for (let i = 0; i < matiereSelect.options.length; i++) {
                if (matiereSelect.options[i].value === matiereId) {
                    matiereSelect.selectedIndex = i;
                    break;
                }
            }

            // Mettre à jour la liste des classes actuelles
            currentClassesList.innerHTML = '';
            for (let i = 0; i < classes.length; i++) {
                if (classes[i]) {
                    const li = document.createElement('li');
                    li.className = 'list-group-item d-flex justify-content-between align-items-center';
                    li.textContent = classes[i];
                    const removeButton = document.createElement('button');
                    removeButton.className = 'btn btn-danger btn-sm';
                    removeButton.innerHTML = '&times;';
                    removeButton.onclick = function() {
                        removeClassFromProf(selectedProf.value, classes[i]);
                    };
                    li.appendChild(removeButton);
                    currentClassesList.appendChild(li);
                }
            }

            // Mettre à jour le menu déroulant pour ajouter une classe
            for (let i = 0; i < addClassSelect.options.length; i++) {
                if (classes.includes(addClassSelect.options[i].textContent)) {
                    addClassSelect.options[i].style.display = 'none';
                } else {
                    addClassSelect.options[i].style.display = 'block';
                }
            }
        }

        function removeClassFromProf(profId, className) {
            fetch(`/remove_class_from_prof/${profId}/${className}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    updateProfSelection();
                } else {
                    alert('Erreur lors de la suppression de la classe.');
                }
            });
        }

        function openEditEleveModal(eleveId) {
            const eleveSelect = document.getElementById('edit_nom_eleve');
            eleveSelect.value = eleveId;
            updateClasseSelection();
            const editEleveModal = new bootstrap.Modal(document.getElementById('editEleveModal'));
            editEleveModal.show();
        }

        function openEditProfModal(profId) {
            const profSelect = document.getElementById('edit_nom_prof');
            profSelect.value = profId;
            updateProfSelection();
            const editProfModal = new bootstrap.Modal(document.getElementById('editProfModal'));
            editProfModal.show();
        }

        document.getElementById('edit_nom_eleve').addEventListener('change', function() {
            document.getElementById('delete_id_eleve').value = this.value;
            updateClasseSelection();
        });
        
        document.getElementById('delete_nom_matiere').addEventListener('change', function() {
            document.getElementById('delete_id_matiere').value = this.value;
        });

        const editNomClasse = document.getElementById('edit_nom_classe');
        if (editNomClasse) {
            editNomClasse.addEventListener('change', function() {
                document.getElementById('delete_id_classe').value = this.value;
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>