<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau de Bord Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Portail Administration</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center d-none d-md-flex">
                    <li class="nav-item">
                        <span class="nav-link">
                            <span class="badge bg-primary badge-lg">{{ username }}</span>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.logout') }}" class="btn btn-danger btn-lg-custom ms-3">Se déconnecter</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-md-none text-center mt-3">
                    <li class="nav-item">
                        <span class="nav-link">
                            <span class="badge bg-primary badge-lg">{{ username }}</span>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.logout') }}" class="btn btn-danger btn-lg-custom mt-2">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="mb-4">Tableau de Bord Admin</h2>
        
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <!-- New Cards for Liste Élève, Liste Professeur, Liste Classe, Liste Matière -->
        <div class="row mb-4">
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Élèves</h5>
                        <div class="accordion mt-2" id="accordionEleves">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEleves">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleves" aria-expanded="false" aria-controls="collapseEleves">
                                        Liste des Élèves
                                    </button>
                                </h2>
                                <div id="collapseEleves" class="accordion-collapse collapse" aria-labelledby="headingEleves" data-bs-parent="#accordionEleves">
                                    <div class="accordion-body">
                                        <ul class="list-group mb-2" style="max-height: 200px; overflow-y: auto;">
                                            {% for eleve in eleves %}
                                            <li class="list-group-item">
                                                {{ eleve.nom_eleve }}
                                                {% if eleve.id_classe is none %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-circle" viewBox="0 0 16 16"
                                                    style="cursor: pointer;" onclick="openEditEleveModal('{{ eleve.id_eleve }}')" title="La classe de l'élève n'est pas sélectionnée">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                                </svg>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between mt-4">
                            <button type="button" class="btn btn-primary me-2 mb-2" data-bs-toggle="modal" data-bs-target="#editEleveModal">Modifier</button>
                            <button type="button" class="btn btn-danger mb-2 mt-md-0" data-bs-toggle="modal" data-bs-target="#deleteEleveModal">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Professeurs</h5>
                        <div class="accordion mt-2" id="accordionProfs">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingProfs">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfs" aria-expanded="false" aria-controls="collapseProfs">
                                        Liste des Professeurs
                                    </button>
                                </h2>
                                <div id="collapseProfs" class="accordion-collapse collapse" aria-labelledby="headingProfs" data-bs-parent="#accordionProfs">
                                    <div class="accordion-body">
                                        <ul class="list-group mb-2" style="max-height: 200px; overflow-y: auto;">
                                            {% for prof in profs %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {{ prof.nom_prof }}
                                                {% if prof.id_classe is none or prof.id_matiere is none %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-circle" viewBox="0 0 16 16"
                                                    style="cursor: pointer;" onclick="openEditProfModal('{{ prof.id_prof }}')" title="Le professeur n'a pas de matière assignée ou n'est pas assignée à au moins une classe">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                                </svg>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between mt-4">
                            <button type="button" class="btn btn-primary me-2 mb-2" data-bs-toggle="modal" data-bs-target="#editProfModal">Modifier</button>
                            <button type="button" class="btn btn-danger mb-2 mt-md-0">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Classes</h5>
                        <div class="accordion mt-2" id="accordionClasses">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingClasses">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClasses" aria-expanded="false" aria-controls="collapseClasses">
                                        Liste des Classes
                                    </button>
                                </h2>
                                <div id="collapseClasses" class="accordion-collapse collapse" aria-labelledby="headingClasses" data-bs-parent="#accordionClasses">
                                    <div class="accordion-body">
                                        <ul class="list-group mb-2" style="max-height: 200px; overflow-y: auto;">
                                            {% for classe in classes %}
                                            <li class="list-group-item">{{ classe.nom_classe }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between mt-4">
                            <button type="button" class="btn btn-primary me-2 mb-2" data-bs-toggle="modal" data-bs-target="#editClasseModal">Modifier</button>
                            <button type="button" class="btn btn-danger mb-2 mt-md-0" data-bs-toggle="modal" data-bs-target="#deleteClasseModal">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Matières</h5>
                        <div class="accordion mt-2" id="accordionMatieres">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingMatieres">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMatieres" aria-expanded="false" aria-controls="collapseMatieres">
                                        Liste des Matières
                                    </button>
                                </h2>
                                <div id="collapseMatieres" class="accordion-collapse collapse" aria-labelledby="headingMatieres" data-bs-parent="#accordionMatieres">
                                    <div class="accordion-body">
                                        <ul class="list-group mb-2" style="max-height: 200px; overflow-y: auto;">
                                            {% for matiere in matieres %}
                                            <li class="list-group-item">{{ matiere.nom_matiere }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between mt-4">
                            <button type="button" class="btn btn-primary me-2 mb-2" data-bs-toggle="modal" data-bs-target="#editMatiereModal">Modifier</button>
                            <button type="button" class="btn btn-danger mb-2 mt-md-0" data-bs-toggle="modal" data-bs-target="#deleteMatiereModal">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Matiere Modal -->
        <div class="modal fade" id="editMatiereModal" tabindex="-1" aria-labelledby="editMatiereModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editMatiereModalLabel">Ajouter une Matière</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editMatiereForm">
                            <div class="mb-3">
                                <label for="matiereNameInput" class="form-label">Nom de la Matière</label>
                                <input type="text" class="form-control" id="matiereNameInput" placeholder="Entrez le nom de la matière">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addMatiere()">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Matiere Modal -->
        <div class="modal fade" id="deleteMatiereModal" tabindex="-1" aria-labelledby="deleteMatiereModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteMatiereModalLabel">Supprimer une Matière</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteMatiereForm">
                            <div class="mb-3">
                                <label for="matiereSelectDelete" class="form-label">Sélectionnez une matière</label>
                                <select class="form-select" id="matiereSelectDelete">
                                    <option value="" disabled selected>Sélectionner une matière</option>
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.id_matiere }}">{{ matiere.nom_matiere }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="button" class="btn btn-danger" onclick="deleteMatiere()">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Classe Modal -->
        <div class="modal fade" id="editClasseModal" tabindex="-1" aria-labelledby="editClasseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editClasseModalLabel">Ajouter une Classe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editClasseForm">
                            <div class="mb-3">
                                <label for="classeNameInput" class="form-label">Nom de la Classe</label>
                                <input type="text" class="form-control" id="classeNameInput" placeholder="Entrez le nom de la classe">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addClasse()">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Classe Modal -->
        <div class="modal fade" id="deleteClasseModal" tabindex="-1" aria-labelledby="deleteClasseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteClasseModalLabel">Supprimer une Classe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteClasseForm">
                            <div class="mb-3">
                                <label for="classeSelectDelete" class="form-label">Sélectionnez une classe</label>
                                <select class="form-select" id="classeSelectDelete">
                                    <option value="" disabled selected>Sélectionner une classe</option>
                                    {% for classe in classes %}
                                    <option value="{{ classe.id_classe }}">{{ classe.nom_classe }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="button" class="btn btn-danger" onclick="deleteClasse()">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Eleve Modal -->
        <div class="modal fade" id="editEleveModal" tabindex="-1" aria-labelledby="editEleveModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editEleveModalLabel">Modifier Élève</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editEleveForm">
                            <div class="mb-3">
                                <label for="eleveSelectModal" class="form-label">Sélectionnez un élève</label>
                                <select class="form-select" id="eleveSelectModal" onchange="updateClasseSelect()">
                                    <option value="" disabled selected>Sélectionner un élève</option>
                                    {% for eleve in eleves %}
                                    <option value="{{ eleve.id_eleve }}" data-classe="{{ eleve.id_classe }}">{{ eleve.nom_eleve }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3" id="classeSelectContainer" style="display: none;">
                                <label for="classeSelectModal" class="form-label">Sélectionnez une classe</label>
                                <select class="form-select" id="classeSelectModal">
                                    <option value="" disabled selected>Sélectionner une classe</option>
                                    {% for classe in classes %}
                                    <option value="{{ classe.id_classe }}">{{ classe.nom_classe }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-primary" onclick="saveEleveChanges()">Enregistrer</button>
                                <button type="button" class="btn btn-success" id="showNotesButton" style="display: none;" onclick="showEleveNotes()">Afficher les notes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Eleve Modal -->
        <div class="modal fade" id="deleteEleveModal" tabindex="-1" aria-labelledby="deleteEleveModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteEleveModalLabel">Supprimer un Élève</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteEleveForm">
                            <div class="mb-3">
                                <label for="eleveSelectDelete" class="form-label">Sélectionnez un élève</label>
                                <select class="form-select" id="eleveSelectDelete">
                                    <option value="" disabled selected>Sélectionner un élève</option>
                                    {% for eleve in eleves %}
                                    <option value="{{ eleve.id_eleve }}">{{ eleve.nom_eleve }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="button" class="btn btn-danger" onclick="deleteEleve()">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Notes Eleve Modal -->
        <div class="modal fade" id="notesEleveModal" tabindex="-1" aria-labelledby="notesEleveModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="notesEleveModalLabel">Notes de l'élève</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Matière</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody id="notesEleveTableBody">
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-3">
                            <label for="matiereSelect" class="form-label">Sélectionnez une matière</label>
                            <select class="form-select" id="matiereSelect" onchange="displayMatiereNotes()">
                                <option value="" disabled selected>Sélectionner une matière</option>
                            </select>
                        </div>
                        <div class="mt-3">
                            <ul id="matiereNotesList" class="list-group"></ul>
                        </div>
                        <div class="mt-3">
                            <h5>Ajouter une note dans la matière sélectionnée :</h5>
                        </div>
                        <div class="mt-3 d-flex">
                            <input type="number" class="form-control me-2" id="newNoteInput" placeholder="Entrez une nouvelle note" min="0" max="20" step="0.01">
                            <button class="btn btn-primary" onclick="addNote()">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Note Modal -->
        <div class="modal fade" id="editNoteModal" tabindex="-1" aria-labelledby="editNoteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editNoteModalLabel">Modifier la note</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editNoteForm">
                            <div class="mb-3">
                                <label for="editNoteInput" class="form-label">Nouvelle note</label>
                                <input type="number" class="form-control" id="editNoteInput" min="0" max="20" step="0.01">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="saveNoteChanges()">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Prof Modal -->
        <div class="modal fade" id="editProfModal" tabindex="-1" aria-labelledby="editProfModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfModalLabel">Modifier Professeur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editProfForm">
                            <div class="mb-3">
                                <label for="profSelectModal" class="form-label">Sélectionnez un professeur</label>
                                <select class="form-select" id="profSelectModal" onchange="updateMatiereAndClassesSelect()">
                                    <option value="" disabled selected>Sélectionner un professeur</option>
                                    {% for prof in profs %}
                                    <option value="{{ prof.id_prof }}" data-matiere="{{ prof.id_matiere }}">{{ prof.nom_prof }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3" id="matiereSelectContainer" style="display: none;">
                                <label for="matiereSelectModal" class="form-label">Sélectionnez une matière</label>
                                <select class="form-select" id="matiereSelectModal">
                                    <option value="" disabled selected>Sélectionner une matière</option>
                                    {% for matiere in matieres %}
                                    <option value="{{ matiere.id_matiere }}">{{ matiere.nom_matiere }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3" id="classesSelectContainer" style="display: none;">
                                <label for="classesSelectModal" class="form-label">Classes du professeur</label>
                                <ul class="list-group" id="classesSelectModal"></ul>
                            </div>
                            <div class="mb-3" id="addClassSelectContainer" style="display: none;">
                                <label for="addClassSelectModal" class="form-label">Ajouter une classe</label>
                                <select class="form-select" id="addClassSelectModal" onchange="addClassToProf()">
                                    <option value="" disabled selected>Sélectionner une classe</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="saveProfChanges()">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cards for Prof and Eleve Information -->
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Informations sur un professeur
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="profSelect" class="form-label">Sélectionnez un professeur</label>
                            <select class="form-select" id="profSelect" onchange="displayProfInfo()">
                                <option value="" disabled selected>Sélectionner un professeur</option>
                                {% for prof in profs %}
                                <option value="{{ prof.id_prof }}">{{ prof.nom_prof }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="profInfo" style="display: none;">
                            <h5>Matière enseignée : <span id="profMatiere"></span></h5>
                            <h5>Classes :</h5>
                            <ul id="profClasses"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Informations sur un élève
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="eleveSelect" class="form-label">Sélectionnez un élève</label>
                            <select class="form-select" id="eleveSelect" onchange="displayEleveInfo()">
                                <option value="" disabled selected>Sélectionner un élève</option>
                                {% for eleve in eleves %}
                                <option value="{{ eleve.id_eleve }}">{{ eleve.nom_eleve }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="eleveInfo" style="display: none;">
                            <h5>Classe : <span id="eleveClasse"></span></h5>
                            <h5>Profs :</h5>
                            <ul id="eleveProfs"></ul>
                            <h5>Moyenne générale : <span id="eleveMoyenne"></span></h5>
                            <button class="btn btn-success mt-3" onclick="displayEleveNotes()">Afficher les notes</button>
                            <div id="eleveNotes" style="display: none;" class="mt-3">
                                <h5>Notes :</h5>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>Matière</th>
                                                <th>Notes</th>
                                                <th>Moyenne</th>
                                            </tr>
                                        </thead>
                                        <tbody id="eleveNotesTableBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Informations sur une classe
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="classeSelect" class="form-label">Sélectionnez une classe</label>
                            <select class="form-select" id="classeSelect" onchange="displayClasseInfo()">
                                <option value="" disabled selected>Sélectionner une classe</option>
                                {% for classe in classes %}
                                <option value="{{ classe.id_classe }}">{{ classe.nom_classe }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="classeInfo" style="display: none;">
                            <h5>Profs :</h5>
                            <ul id="classeProfs"></ul>
                            <h5>Moyenne générale par matière :</h5>
                            <ul id="classeMoyennesMatieres"></ul>
                            <h5>Moyenne générale de la classe : <span id="classeMoyenneGenerale"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bouton flottant -->
    <button class="btn btn-success btn-floating" id="floatingButton" onclick="handleFloatingButtonClick()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
    </button>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>